@inherits LayoutComponentBase
  
<div class="sidebar" style="background-image: none; background-color: #383838;">
    <NavMenu />
</div>

<div class="main bg-secondary">
    <div class="container">
        @Body
    </div>
</div>

